html {
    font-family: courier;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #363e3a;
}

table td {
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    /*border-color: #ccc;*/
    color: #181818;
    background-color: #ffdded;
}

table th {
    ffont-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    /*border-color: #ccc;*/
    color: #181818;
    background-color: #b7ffff;
}

